<div class="row justify-content-center mt-5">
  <div class="col-md-6">
    {{> _message}}
    <h1>Login</h1>
    <form class="" action="" method="post">
      <div class="form-group">
        <label for="">Email</label>
        <input type="text" name="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="">Password</label>
        <input type="password" name="password" class="form-control">
      </div>
      <div class="form-goup">
        <button type="submit" class="btn btn-success">Login</button>
        <a href="/auth/google" class="btn btn-primary">Login with Google </a>
        <a href="/auth/facebook" class="btn btn-danger">Login with Facebook </a>
      </div>


    </form>
  </div>

</div>
